<aside class="main-sidebar sidebar-dark-primary elevation-1">
    <br /><br /><br />
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            </ul>
        </nav>
    </div>
</aside>