@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Pozisyon Yönetimi";
}
<h2>Pozisyon Yönetimi</h2>
<form method="post" asp-action="AddRole" asp-controller="RoleManager">
    <div class="input-group">
        <input name="roleName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-success">Yeni Pozisyon Ekle</button>
        </span>
    </div>
</form>

<table class="table table-striped mt-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pozisyon Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>